/* 'Droid Sans Mono', 'monospace', monospace */

* {
    border: none;
    border-radius: 7px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #cdd6f4;
}

tooltip {
    background: rgba(27, 34, 48, 0.95);
    border-radius: 7px;
    border-width: 2.5px;
    border-style: solid;
    border-color: #616eac;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#workspaces {
    padding: 0px 0px;
    border: 2px solid #616eac;
    margin-left: 5px;
    font-style: normal;
    opacity: 0.8;
    font-size: 16px;
    color: white;

    opacity: 1.0;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 12px;
}

#workspaces button {
    padding: 1px 1px;
    margin: 3px 3px;
    border-radius: 8px;
    border: 0px;
    color: #8f9cdd;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

#workspaces button.active {
    color: white;
    background: #616eac;
    min-width: 40px;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

#workspaces button.urgent {
    background-color: #ff441f;
}

#memory,
#disk,
#cpu,
#temperature,
#bluetooth,
#clock,
#network,
#language,
#backlight,
#pulseaudio,
#battery {
    background: none;
    padding: 1.5px 7px 1.5px 7px;
    opacity: 1.0;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 12px;
}

#memory {
    border-top: 2px solid #616eac;
    border-bottom: 2px solid #616eac;
    border-left: 2px solid #616eac;
    color: #89b4fa;
    border-radius: 10px 0 0 10px;
    margin-left: 7px;
}

#disk {
    border-top: 2px solid #616eac;
    border-bottom: 2px solid #616eac;
    border-radius: 0;
}

#cpu {
    border-top: 2px solid #616eac;
    border-bottom: 2px solid #616eac;
    border-radius: 0;
}

#temperature {
    border-top: 2px solid #616eac;
    border-bottom: 2px solid #616eac;
    border-right: 2px solid #616eac;
    border-radius: 0 10px 10px 0;
}



#bluetooth {
    border: 2px solid #616eac;
    color: #89b4fa;
    border-radius: 10px;
    margin-right: 7px;
} 

#clock {
    border: 2px solid #616eac;
    color: #a6e3a1;
    border-radius: 10px;
}

#network {
    border: 2px solid #616eac;
    color: #f9e2af;
    border-radius: 10px;
    margin-left: 7px;
}



#language {
    border-top: 2px solid #616eac;
    border-bottom: 2px solid #616eac;
    border-left: 2px solid #616eac;
    border-radius: 10px 0 0 10px;
    color: white;
}

#backlight {
    border-top: 2px solid #616eac;
    border-bottom: 2px solid #616eac;
    border-radius: 0;
}

#pulseaudio {
    border-top: 2px solid #616eac;
    border-bottom: 2px solid #616eac;
    border-right: 2px solid #616eac;
    color: #89b4fa;
    border-radius: 0 10px 10px 0;
}

#battery {
    border: 2px solid #616eac;
    color: #a6e3a1;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 7px;
}

#battery.critical:not(.charging) {
  background-color:           #F53C3C;
  color:                      #EEEEEE;
  animation-name:             blink;
  animation-duration:         1.0s;
  animation-timing-function:  linear;
  animation-iteration-count:  infinite;
  animation-direction:        alternate;
}

#battery.charging {
  background-color:           #a6e3a1;
  color:                      #F53C3C;
  animation-name:             blink;
  animation-duration:         1.0s;
  animation-timing-function:  linear;
  animation-iteration-count:  infinite;
  animation-direction:        alternate;
}